
.vendor{
  background-color: darkslategrey;
  text-align: center;
}

.vendor-icon{
  left: 15px;
  margin-bottom: 1%;
  border-radius: 2%;
}

body {
  background-color:pink;
}
#btn { 
  border-radius:15px;
}

.player-icon {
  float: right;
}
.list {
  background-position: center;
  text-align: center;
}

#item-grid {
  margin-top: 1%;
  background-color: cadetblue;
  width: 15%;
  border-radius: 15px;
}
